# Auto detect text files and perform LF normalization
* text=auto
LightingData.asset filter=lfs diff=lfs merge=lfs -text
Useok_Scene_27_Combine.unity filter=lfs diff=lfs merge=lfs -text
Useok_Scene_26_Combine.unity filter=lfs diff=lfs merge=lfs -text
Useok_Scene_28_Combine.unity filter=lfs diff=lfs merge=lfs -text
Useok_Scene_29_Orange.unity filter=lfs diff=lfs merge=lfs -text
